extends layout

block content
    header(class='mb-2')
        nav(aria-label='Main Site Navigation')
            ul(class='flex gap-half list-none p-0')
                li
                    a(href='javascript:history.back()' class='c-4') Go Back
    header(class='mb-1 bg-5 p-1 br-8')
        h1= postTitle
        div(class='flex')
            p= timestamp + ' | ' + author
        div(class='flex justify-between')
            a(href=`${github}`) Github
            a(href=`${url}`) URL
    section
        div
            each item in content
                p= item