extends layout

block content
    header(class='flex flex-col items-center text-center mt-1')
        img(src='/images/w.webp' alt='Warren Chemerika outside wearing sunglasses.'
            class='rounded mb-half hero-image-hover transition-all' width='225' height='225')
        h1(class='mb-half c-2 title') Warren Chemerika
        h2(class='bg-5 px-half py-1 br-4 font-weight-600 subtitle mb-1') Web Developer @ Servoweb
        a(class='max-w-400 hover-underline flex items-center paratitle' href='media/Front-EndWebDevCertificateWarrenChemerika.pdf')
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20" fill="rgb(22, 163, 74)" class='mr-half')
                path(d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z")
            | Certified by Saskatchewan Polytechnic
    section(class='flex flex-col gap-1 mx-2')
        h2(aria-label="Portfolio section: my work and personal projects" hidden) Portfolio
        each item in content
            div(
                class='project p-1 pb-2 pointer flex flex-col items-center b-only-top-1 bs-solid bc-5' id=`project-${item.id}`)
                div(class='flex justify-between w-full items-center gap-1')
                    div(class='flex gap-1 items-center')
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="25" height="25" fill="rgb(99, 99, 99, 0.1)" class='display-sm')
                            path(d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z")
                        h3(class='font-weight-500 font-size-1-5')= item.title
                    div
                        ul(class='flex gap-1 flex-grow-1')
                            if (item.github !== '')
                                li
                                    a(href=`${item.github}` title=`GitHub Link for: ${item.github}` aria-label=`Project ${item.id} GitHub Link` class='bg-5 bg-h-6 p-half rounded flex items-center justify-center')
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" width="25" height="25" fill="white")
                                            path(d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z")
                            if (item.url !== '')
                                li
                                    a(href=`${item.url}` title=`URL of Project for: ${item.url}` aria-label=`Project ${item.id} URL of Project Display` class='bg-5 bg-h-6 p-half rounded flex items-center justify-center')
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="25" height="25" fill="white")
                                            path(d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z")
                div(class='display mt-1')
                    each text in item.description
                        p(class=`mt-1`)= text
                    div(class='flex gap-1 flex-grow-1 justify-center flex-wrap mt-2')
                        each logo in item.languages
                            -
                            svg(xmlns="http://www.w3.org/2000/svg" fill="var(--c-6)" width="55" height="55" viewBox="0 0 800 600")
                                path(d=logo)
    section.mb-1
        h2.text-center.mb-1.bg-5.px-half.br-4 Certifications
        div.flex.flex-wrap.gap-1
            div.flex.flex-row.flex-grow-1.gap-1
                img(src='images/bcit.jpg' alt='' width="75" height="75").br-4
                div(class='flex flex-col')
                    h3.font-weight-600 British Columbia Institute of Technology
                    h4.font-weight-400 Front-End Web Developer Certificate
                    p.font-size-1.mb-1 January 2025 - July 2025
                    ul.flex.flex-wrap.gap-half
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter HTML5
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter CSS3
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter Sass
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter JavaScript
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter Adobe Photoshop
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter Adobe Illustrator
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter Adobe XD
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter Figma
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter Git
            div.flex.flex-row.flex-grow-1.gap-1
                img(src='images/saskpolytech.jpg' alt='' width="75" height="75").br-4
                div(class='flex flex-col')
                    h3.font-weight-600 Saskatchewan Polytechnic
                    h4.font-weight-400 Applied Certificate of Front-End Web Development
                    p.font-size-1.mb-1 September 2023 - April 2024
                    ul.flex.flex-wrap.gap-half
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter HTML5
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter CSS3
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter Bootstrap
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter JavaScript
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter p5.js
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter React
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter WordPress
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter PHP
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter GIMP
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter Adobe XD
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter Adobe Illustrator
                        li.bw-1.bs-solid.bc-5.font-size-0-9.br-4.p-quarter Figma
    <!-- scripts -->
    script(src='javascripts/pug-projects.js')