extends layout

block content
    header(class='flex flex-wrap justify-center align-center')
        div(class='flex-grow-1')
            h1 Warren Chemerika
            h2 Web Developer
            p Specializing in JavaScript related projects

    section(class='flex flex-col gap-1')
        h2 Recent Work
        each item in content
            div(class='bg-6 p-1 br-4 pointer flex flex-wrap justify-between items-center' id=`project-${item.id}`)
                div
                    h3= item.title
                div
                    ul(class='flex gap-1')
                        li
                            a(href=`${item.url}` class='hover-underline') URL
                        li
                            a(href=`${item.github}`) Github
                div(class='display pb-1')
                    each text in JSON.parse(item.description)
                        p(class=`mt-1`)= text
                    div
                        each logo in JSON.parse(item.languages)
                            img(src=`${logo}`)
    script(src='javascripts/pug-projects.js')

    section
        h2 Where did I study?