doctype html
html(lang='en')
  head
    title= title
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1.0')
    meta(
      name='author'
      content='Warren Chemerika | ihawp.com')
    meta(
      content="width=device-width, initial-scale=1.0"
      name="viewport"
    )
    meta(
      content="Transform your digital presence with Warren Chemerika (ihawp) a skilled web developer dedicated to crafting stunning, user-friendly websites. With expertise in the latest technologies and a passion for innovative design, I create tailored solutions that engage users and drive results. Let us collaborate to bring your vision to life and elevate your online impact!"
      name="description"
    )
    meta(
      content="warren, chemerika, ihawp, warren chemerika, web developer, web development, web development services, website development, website developer, website development services, website, warren chemerika website, ihawp website, ihawp.com website, saskatoon, vancouver, saskatoon web developer, vancouver web developer, remote web developer, reliable, trustworthy, smart, detail oriented, vancouver web development, saskatoon web development"
      name="keywords"
    )
    meta(
      content="Warren Chemerika"
      name="author"
    )
    meta(
      content="index, follow"
      name="robots"
    )
    meta(
      content="text/html; charset=UTF-8"
      http-equiv="Content-Type"
    )
    meta(
      content="Warren Chemerika | ihawp.com"
      property="og:title"
    )
    meta(
      content="Transform your digital presence with Warren Chemerika (ihawp) a skilled web developer dedicated to crafting stunning, user-friendly websites. With expertise in the latest technologies and a passion for innovative design, I create tailored solutions that engage users and drive results. Let’s collaborate to bring your vision to life and elevate your online impact!"
      property="og:description"
    )
    meta(
      content="/images/ihawpcom-sharing.JPG"
      property="og:image"
    )
    meta(
      content="https://www.ihawp.com"
      property="og:url"
    )
    meta(
      content="summary_large_image"
      name="twitter:card"
    )
    meta(
      content="Warren Chemerika | ihawp.com"
      name="twitter:title"
    )
    meta(
      content="Transform your digital presence with Warren Chemerika (ihawp) a skilled web developer dedicated to crafting stunning, user-friendly websites. With expertise in the latest technologies and a passion for innovative design, I create tailored solutions that engage users and drive results. Let’s collaborate to bring your vision to life and elevate your online impact!"
      name="twitter:description"
    )
    meta(
      content="/images/ihawpcom-sharing.JPG"
      name="twitter:image"
    )
    meta(
      content="#222"
      name="theme-color"
    )
    meta(
      content="IE=edge"
      http-equiv="X-UA-Compatible"
    )
    link(
      rel='stylesheet'
      href='/stylesheets/style.css')
    link(
      type="image/x-icon"
      href="/images/shooting-star.webp"
      rel="icon"
    )
    link(
      href="/images/shooting-star.webp"
      rel="apple-touch-icon"
    )
  body.items-center.flex.flex-col
    a(href='#content').screen-reader-text Skip To Content
    header.flex.bg-5.px-1.py-half.br-4.justify-between.mb-1
      nav(aria-label='Main Navigation').ml-1.flex-grow-1
        ul.none
          li
            button#open-mobile-nav.font-size-2.rotate-90.b-none.c-2.bg-none.font-weight-700 |||
        ul#mobile-nav.flex.flex-col-sm.gap-2.display-sm.justify-between
          li
            ul.flex.flex-col-sm.gap-2
              li
                a(href='/' title='Go to Home Page' aria-label='Navigation button to go to the home page of ihawp.com').font-weight-700 Home
              li
                a(href='/blog' title='Go to Blog Page' aria-label='Navigation button to go to the blog page of ihawp.com (ihawp.com/blog)').font-weight-700 Blog
              li
                a(href='https://www.linkedin.com/in/warren-chemerika-628b15275' title='Warren Chemerika on LinkedIn' aria-label='Link to Warren Chemerikas Linkedin Profile').font-weight-700 LinkedIn
              li
                a(href='https://www.github.com/ihawp' title='ihawp on GitHub' aria-label='Link to my Github account, my username is ihawp').font-weight-700 GitHub
          li
            a(href='mailto:ihawp@ihawp.com' title='Send me an email (ihawp@ihawp.com)' aria-label='Send me an email now by pressing this button').bg-8.px-half.py-1.br-4.font-weight-600 Contact Me Now
    main#content.flex.flex-col.items-center
      block content
    footer.flex.flex-wrap.items-center.justify-between.gap-1.mt-1
      p#footerYear.c-4 &copy; ihawp.com !{new Date().getFullYear()}
      nav(aria-label='Footer Navigation')
        ul.flex.flex-row.gap-half
            li
              a(href='/privacy').c-4 Privacy Policy
    script(src='/javascripts/pug-navigation.js')
